.writeZone{
    position: relative;
    height: 300px;
    width: 960px;
    background-color: #9ba7a3;
    .activeCursor{

        border-left: 1px solid #000;
        border-right: none;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
}
.code{
    // padding: 0 0 0 3rem;
}
.textTag{
    padding: 0 3rem;
    span{
    //     white-space: nowrap;
    // word-spacing: 5px;
    }
}