@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,html{
    font: {
        size: 16px;
        family: 'Roboto', sans-serif;
    };
    button{
        font: {
            size: 16px;
            family: 'Roboto', sans-serif;
        };
    }
    
}